@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
    --primary: 82, 120, 234;
    --complimantry: 92, 110, 157;
    --pop: 1229,
        189,
        217;
    --base: 60, 60, 60;
    --text: 255, 255, 255
}

.light {
    --primary: 109, 141, 237;
    --complimantry: 66, 78, 112;
    --pop: 187,
        80,
        153;
    --base: 255,
        255,
        255;
    --text: 36, 36, 36;
}

html {
    scroll-behavior: smooth;
}